<div class="container text-center vertical-center" *ngIf="!showLoader">
  <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-success" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-info" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>    
</div>
<div class="container-fluid p-3 my-3 border" *ngIf="showLoader">
  <div class="d-flex">
    <p style="color: #17a2b8; font-size: xxx-large"> <strong> {{ countryName }} </strong> </p>
  </div>
  <br/>
  <div class="row">
    <div class="col">
      <div class="card align-items-stretch">
        <div class="card-header bg-warning text-white"><strong> Confirmed  </strong></div>
        <div class="card-body">{{ countryConfirmed }}</div> 
      </div>
    </div>
    <div class="col">
      <div class="card align-items-stretch">
        <div class="card-header bg-info text-white"><strong> Active  </strong></div>
        <div class="card-body">{{ countryActive }}</div> 
      </div>
    </div>
    <div class="col">
      <div class="card align-items-stretch">
        <div class="card-header bg-success text-white"><strong> Recovered  </strong></div>
        <div class="card-body">{{ countryRecovered }}</div> 
      </div>
    </div>
    <div class="col">
      <div class="card align-items-stretch">
        <div class="card-header bg-danger text-white"><strong> Deceased  </strong></div>
        <div class="card-body">{{ countryDeceased }}</div> 
      </div>
    </div>
  </div>
  <br/>
  <div class="table-responsive text-nowrap" *ngIf="showLoader">
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th> S.No </th>
            <th>State Name</th>
            <th><a (click)="sortConfirm(!sortConfirmed, 0)">
              Confirmed
              <span *ngIf="!sortConfirmed" class="fa fa-caret-down"></span>
              <span *ngIf="sortConfirmed" class="fa fa-caret-up"></span>
            </a></th>
            <th><a (click)="sortActives(!sortActive, 1)">
              Active
              <span *ngIf="!sortActive" class="fa fa-caret-down"></span>
              <span *ngIf="sortActive" class="fa fa-caret-up"></span>
            </a></th>
            <th><a (click)="sortRecover(!sortRecovered, 3)">
              Recovered
              <span *ngIf="!sortRecovered" class="fa fa-caret-down"></span>
              <span *ngIf="sortRecovered" class="fa fa-caret-up"></span>
            </a></th>
            <th><a (click)="sortDeceas(!sortDeceased, 2)">
              Deceased
              <span *ngIf="!sortDeceased" class="fa fa-caret-down"></span>
              <span *ngIf="sortDeceased" class="fa fa-caret-up"></span>
            </a></th>
            <th>District Information</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let state of states; let num = index"> 
                <td>{{ num+1 }}</td>
                <td>{{ state.statename }}</td>
                <td>{{ state.confirmed }}</td>
                <td>{{ state.active }}</td>
                <td>{{ state.recovered }}</td>
                <td>{{ state.deceased }}</td>
                <td>
                    <a class="btn bg-info btn-xs" (click)="viewDistrictInfo(state)">
                    <i class="fas fa-eye"></i>
                    District Info</a>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>